{{!< dashboard}}

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-6 bg-white p-4"><h3 class="fw-bold">Edit Batch</h3></div>
  </div>
</div>
<div class="container mt-4">
  <form action="/admin/program/{{programId}}/course/{{courseId}}/sessions/{{session.SessionID}}/edit" method="POST" class="row g-3 needs-validation justify-content-center">
    <input type="hidden" name="program_id" value="{{programId}}">

    <div class="col-lg-6 bg-white p-5">
      <div class="row gap-4">
        <div class="row">
          <div class="col-md-6">
            <label for="validationCustom04" class="form-label">Course</label>
            <select class="form-select" name="CourseID" id="validationCustom04" required>
              <option selected disabled value="">Choose...</option>
              {{#each courses}}
                <option value="{{this.CourseID}}" {{#eq this.CourseID ../session.CourseID}} selected {{/eq}}>{{this.Name}}</option>
              {{/each}}
            </select>
            <div class="invalid-feedback">
              Please select a valid course.
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom04" class="form-label">District</label>
            <select class="form-select" name="Center" id="validationCustom04" required>
              <option selected disabled value="">Choose...</option>
              {{#each centers}}
                <option value="{{this.Name}}" {{#eq this.Name ../session.Center}} selected {{/eq}}>{{this.Name}}</option>
              {{/each}}
            </select>
            <div class="invalid-feedback">
              Please select a valid center.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="validationCustom02" class="form-label">Start Date</label>
            <input type="date" name="StartDate" class="form-control" id="validationCustom02" value="{{session.StartDate}}" required />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom02" class="form-label">End Date</label>
            <input type="date" name="EndDate" class="form-control" id="validationCustom02" value="{{session.EndDate}}" required />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="validationCustom04" class="form-label">Trainer</label>
            <select class="form-select" name="TrainerID" id="validationCustom04" required>
              <option selected disabled value="">Choose...</option>
              {{#each trainers}}
                <option value="{{this.UserID}}" {{#eq this.UserID ../session.TrainerID}} selected {{/eq}}>{{this.Username}}</option>
              {{/each}}
            </select>
            <div class="invalid-feedback">
              Please select a trainer.
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom04" class="form-label">Monitor</label>
            <select class="form-select" name="MonitorID" id="validationCustom04" required>
              <option selected disabled value="">Choose...</option>
              {{#each monitors}}
                <option value="{{this.UserID}}" {{#eq this.UserID ../session.MonitorID}} selected {{/eq}}>{{this.Username}}</option>
              {{/each}}
            </select>
            <div class="invalid-feedback">
              Please select a monitor.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Update Batch</button>
        </div>
      </div>
    </div>
  </form>
</div>
