{{!< dashboard}}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-6 bg-white p-4">
      <h3 class="fw-bold">Edit Trainer</h3>
    </div>
  </div>
</div>

<div class="container mt-4 mb-4">
  <form
    action="/admin/trainer/update/{{trainer.UserID}}"
    method="post"
    id="trainerForm"
    class="row g-3 needs-validation justify-content-center"
  >
    <div class="col-lg-6 bg-white p-5">
      <div class="row gap-4">
        
        {{! Email }}
        <div class="col-12">
          <label for="validationCustom01" class="form-label">Email</label>
          <input
            type="email"
            name="Email"
            class="form-control"
            id="validationCustom01"
            value="{{trainer.Email}}"
            required
          />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        {{! Username }}
        <div class="col-12">
          <label for="validationCustom02" class="form-label">Username</label>
          <input
            type="text"
            name="Username"
            class="form-control"
            id="validationCustom02"
            value="{{trainer.Username}}"
            required
          />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        {{! First Name and Last Name }}
        <div class="row">
          <div class="col-md-6">
            <label for="validationCustom03" class="form-label">First Name (optional)</label>
            <input
              type="text"
              name="FirstName"
              class="form-control"
              id="validationCustom03"
              value="{{trainer.FirstName}}"
            />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom04" class="form-label">Last Name (optional)</label>
            <input
              type="text"
              name="LastName"
              class="form-control"
              id="validationCustom04"
              value="{{trainer.LastName}}"
            />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>

        {{! Contact Number and Program }}
        <div class="row">
          <div class="col-md-6">
            <label for="validationCustom05" class="form-label">Contact Number (optional)</label>
            <input
              type="text"
              name="ContactNumber"
              class="form-control"
              id="validationCustom05"
              value="{{trainer.ContactNumber}}"
            />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom06" class="form-label">Program (optional)</label>
            <select class="form-select" name="ProgramID" id="validationCustom06">
              <option value="">Choose...</option>
              {{#each programs}}
                <option value="{{this.ProgramID}}" {{#if (isSelected this.ProgramID ../trainer.ProgramID)}}selected{{/if}}>
                  {{this.Name}}
                </option>
              {{/each}}
            </select>
            <div class="invalid-feedback">
              Please select a valid Program.
            </div>
          </div>
        </div>

        <div class="col-12">
          <button class="btn btn-primary" id="updateButton" type="submit">
            Update Trainer
          </button>
          <a href="/admin/trainers" class="btn btn-secondary ms-2">Cancel</a>
        </div>

      </div>
    </div>
  </form>
</div>

<script defer src="/js/admin/editTrainer.js"></script>
