{{!< dashboard}}
 <style>
    


    .container {
    display: flex;
    }


    .main-content {
    display: flex;
    justify-content: center;
    width: 100%;
    }

    table {
    width: 80%;
    margin: 50px;
    table-layout: fixed;
    border-collapse: collapse;
    }

    th, td {
    padding: 15px;
    text-align: left;
    font-size: 16px;
    }

    th {
    background-color: #2E5A92;
    color: #fff;
    }

    table, th, td {
    width: 1fr;
    text-align: center;
    }

    table tbody tr {
    background-color: white;
    }

    table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
    }

    table thead th {
    border: none;
    }

    .grade-input {
    width: 80px;
    padding: 5px;
    font-size: 16px;
    }

    .download-btn {
    background-color: #2E5A92;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px;
    }

    .download-btn:hover {
    background-color: white;
    color: #2E5A92;
    }

    .add-button{
    margin-top: 20px;
    margin-left:130px;
    background-color: #2E5A92;
    color:white;
    padding: 5px 10px;
    }
    #trainer_table{
    margin:0;
    width: 100%;
    }
    .section-heading {
    color: #2E5A92;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #2E5A92;
    padding-bottom: 10px;
  }
    </style>

    <div class="main-content">
        {{!-- modal --}}




        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p> Are you sure to delete this record ? </p>
                        <form action="" id="deleteUserForm">
                            <input type="hidden" value="" id="input_id">

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary no_button" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary confirm_delete"
                            data-bs-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-lg:9">
                    <h2 class="section-heading">Manage Trainers</h2>

                    <table id="trainer_table">
                        <thead>
                            <tr>
                                <th>S NO </th>
                                <th>Name</th>
                                
                                <th>Email</th>
                                <th>Program</th>
                                <th>Sessions completed</th>
                                {{!-- <th>Deliverables Status</th> --}}
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each var_trainers}}
                            <tr>
                                {{!-- <td>{{UserID}}</td> --}}
                                <td>{{incrementIndex @index}}</td>
                                <td>{{Username}}</td>
                                
                                <td>{{Email}}</td>
                                <td>{{programName}}</td> <!-- Changed from this.program -->
                                <td>{{sessionsCompleted}}</td>
                                {{!-- <td>{{programName}}</td> --}}
                                <td>
                                    <i class="fa-solid fa-trash text-danger delete_trainer cursor-pointer"
                                        data-id="{{UserID}}" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                                </td>
                            </tr>

                            {{/each}}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    </div>



    <script defer src="/js/admin/trainer.js"></script>