{{!< studentDashboard}}
<style>
  .selected {
  color: gold;
}

</style>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">

      <div class="col-12 bg-white p-4"><h3 class="fw-bold"> Feedbacks</h3></div>
      {{#each feedbacksArray}}
        <div class="col-12 bg-white p-4 mt-4">
          Session >
          {{this.SessionID}}
          <form
            action="/student/feedbacks/program/{{../programId}}/session/{{this.SessionID}}"
            method="post"
          >
            <div class="container mt-4">
              <input
                type="hidden"
                name="trainer_id"
                value="{{this.trainer.UserID}}"
              />
              <input
                type="hidden"
                name="trainer_feedbackid"
                value="{{this.trainer.FeedbackID}}"
              />
              {{#each this.trainer.Inputs}}
              {{#when this.feedback_type 'eq' 'text'}}

               <div class="d-flex gap-2 align-items-center">
                 <label  class="form-label"> {{../this.trainer.Username}} </label>
              
              <input type="text" class="form-control w-50"  placeholder="Enter feedback" name="trainer_feedback_response">
              </div> 
              

                {{else}}
                <div class="d-flex gap-2 align-items-center">
                  <label  class="form-label"> {{../this.trainer.Username}} </label>
                  <div class="d-flex gap-2">
                    <input type="hidden" class="form-control w-50 feedback_response"  placeholder="Enter feedback" name="trainer_feedback_response">
              <i class="fa-regular fa-star" data-id="1"></i>
              <i class="fa-regular fa-star" data-id="2"></i>
              <i class="fa-regular fa-star" data-id="3"></i>
              <i class="fa-regular fa-star" data-id="4"></i>
              <i class="fa-regular fa-star" data-id="5"></i>
              </div>
              </div>
   
              {{/when}}
              {{/each}}
              
            </div>



            <div class="container mt-4">
              <input
                type="hidden"
                name="monitor_id"
                value="{{this.monitor.UserID}}"
              />
              <input
                type="hidden"
                name="monitor_feedbackid"
                value="{{this.monitor.FeedbackID}}"
              />
              {{#each this.monitor.Inputs}}
              {{#when this.feedback_type 'eq' 'text'}}
              <div class="d-flex gap-2 align-items-center">

              <label  class="form-label"> {{../this.monitor.Username}} </label>
              <input type="text" class="form-control w-50 feedback_response"  placeholder="Enter feedback" name="monitor_feedback_response">
              </div>

                {{else}}
                <div class="d-flex gap-2 align-items-center">
                  <label  class="form-label"> {{../this.monitor.Username}} </label>
                <div class="d-flex gap-2">
                  <input type="hidden" class="form-control w-50 feedback_response"  placeholder="Enter feedback" name="monitor_feedback_response">
              <i class="fa-regular fa-star" data-id="1"></i>
              <i class="fa-regular fa-star" data-id="2"></i>
              <i class="fa-regular fa-star" data-id="3"></i>
              <i class="fa-regular fa-star" data-id="4"></i>
              <i class="fa-regular fa-star" data-id="5"></i>
              </div>
              </div>
                
   
              {{/when}}
              


              
              {{/each}}
              
              
            </div>

            <div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      {{#if this.uploaded_status}}
        <button type="button" class="btn btn-secondary" disabled>Feedback already added</button>
      {{else}}
        <button type="submit" class="btn btn-dark">Post</button>
      {{/if}}
    </div>
  </div>
</div>


          </form>
        </div>
      {{/each}}

    </div>

  </div>
</div>

<script src="/js/student/feedback.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  document.addEventListener('click', function(event) {
    if (event.target.classList.contains('fa-star')) {
      
      // Get the data-id attribute value of the clicked star
      let starValue = event.target.getAttribute('data-id');
      
      // Change the color of the clicked star and all preceding stars
      let currentStar = event.target;
      while (currentStar) {
        if (currentStar.classList.contains('fa-star')) {
          currentStar.classList.add('selected');
        }
        currentStar = currentStar.previousElementSibling;
      }
      
      // Remove the color from all the following stars
      let nextStar = event.target.nextElementSibling;
      while (nextStar) {
        if (nextStar.classList.contains('fa-star')) {
          nextStar.classList.remove('selected');
        }
        nextStar = nextStar.nextElementSibling;
      }

      // Find the preceding sibling input element with class name feedback_response and set its value
      let feedbackInput = event.target.parentElement.querySelector('.feedback_response');
      if (feedbackInput) {
        feedbackInput.value = starValue;
      }
    }
  });
});

</script>
